.DS_Store
node_modules/
bower_components/
dist/*
!dist/static/img/*
!dist/static/fonts/*
!dist/static/site.html
npm-debug.log
*.swp
*/*.swp
*~
*/*~
*#
*/*#
*.#
*/*.#
yarn.lock
nodemon.json
.tern-port
.tern-project